.auth-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.form-field {
    margin-bottom: 10px;
}

.submit-button {
    align-self: stretch;
    margin-top: 15px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
    margin-top: 1.5rem;
}
