.sign-in-form-wrapper {
    composes: auth-form-wrapper from 'styles/base/pages/AuthPage.scss';
}

.submit-button {
    composes: submit-button from 'styles/base/pages/AuthPage.scss';
}

.links {
    composes: links from 'styles/base/pages/AuthPage.scss';
}

.link {
    composes: link from 'styles/base/elements/link.scss';
}
